__pycache__/
*.pyc
*.pyo
.DS_Store
*.log
jmeter.log
jmeter-server.log
temp/
reports/
config/csv/
config/nodes.json
config/variables.json
config/templates.json
scripts/task-*.jmx
apache-jmeter-5.6.3/
apache-jmeter-5.6.3-slave/
apache-jmeter-5.6.3-slave2/
apache-jmeter-5.6.3-slave3/
.env
venv/
.venv/
.idea/
.vscode/
*.swp
*.swo
